


 <!-- Start Sidemenu Area -->
 <div class="sidemenu-area">
    <div class="sidemenu-header">
        <a routerLink="novedades" class="navbar-brand d-flex align-items-center">
            <img src="assets\img\logo.png" alt="image" class="logo-image">
            <span>CC</span>
        </a>
  
        <div class="burger-menu d-none d-lg-block"  >
            <span  class="top-bar"></span>
            <span  class="middle-bar"></span>
            <span  class="bottom-bar"></span>
        </div>
  
        <div class="responsive-burger-menu d-block d-lg-none"  >
            <span class="top-bar"></span>
            <span class="middle-bar"></span>
            <span class="bottom-bar"></span>
        </div>
    </div>
  
    <div class="sidemenu-body">
        <ul class="sidemenu-nav metisMenu h-100" id="sidemenu-nav" data-simplebar="">
            <li class="nav-item-title">
                MENU
            </li>
  
           
  
            <li class="nav-item">
                <a routerLink="novedades" class="nav-link">
                    <span class="icon"><i class='bx bx-receipt'></i></span>
                    <span class="menu-title">Novedades</span>
                </a>
            </li>
  
            
  
            <li class="nav-item ">
                <a routerLink="visitas" class="nav-link">
                    <span class="icon"><i class='bx bx-file-blank'></i></span>
                    <span class="menu-title">Visitas</span>
                </a>
            </li>
            
            <li class="nav-item">
                <a routerLink="archivo" class="nav-link">
                    <span class="icon"><i class='bx bx-receipt'></i></span>
                    <span class="menu-title">Archivo</span>
                </a>
            </li>
  
            
  
            <li class="nav-item ">
                <a routerLink="usuarios" class="nav-link">
                    <span class="icon"><i class='bx bx-file-blank'></i></span>
                    <span class="menu-title">Usuarios</span>
                </a>
            </li>
            
            
          
           
  
          
        </ul>
    </div>
  </div>
  <!-- End Sidemenu Area -->