<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".basicModalLG">
    Crear Visitas
</button>
<hr> -->
<!-- <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="example" class="table table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Dpi</th>
            <th>Persona Visita</th>
            <th>Empresa</th>
            <th>Hora Ingreso </th>
            <th>Hora Salida</th>
            <th>Descripción</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of visitas" >
            <td>{{item.nombre}}</td>
            <td>{{item.dpi}}</td>
            <td>{{item.personaVista}}</td>
            <td>{{item.empresa}}</td>
            <td>{{item.horaEntrada}}</td>
            <td>{{item.horaSalida}}</td>
            <td>{{item.descripcion}}</td>
            <td>
                <a href="#" class="btn btn-outline-info"><i class="bx bx-edit-alt"></i></a>
                <a href="#" class="btn btn-outline-danger"><i class="bx bx-trash"></i></a>
            </td>
        </tr>
     
    </tbody>

</table> -->

<div class="todo-content-area" style="max-width: 100%;">
    <div class="sidebar-left">
        <div class="sidebar">
            <div class="sidebar-content d-flex email-sidebar" data-simplebar="init"><div class="simplebar-wrapper" style="margin: -25px;"><div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div><div class="simplebar-mask"><div class="simplebar-offset" style="right: 0px; bottom: 0px;"><div class="simplebar-content-wrapper" style="height: auto; overflow: hidden;"><div class="simplebar-content" style="padding: 25px;">
                <div class="todo-menu">
                    <button type="button" class="btn btn-primary btn-color btn-block compose-btn mb-4"  data-toggle="modal" data-target=".basicModalLG">
                        <i class="bx bx-plus"></i> Nueva Visita
                    </button>

                    <div class="list-group list-group-messages">
                        <a href="Javascript:void(0)" class="list-group-item" (click)="showNuevas()">
                            <i class="bx bx-list-ol"></i>
                            Nuevas
                            <span class="badge badge-success d-inline-block">{{visitas.length}}</span>
                        </a>
                    </div>

                
                    <label class="d-block list-group-label text-uppercase">Historial</label>

                    <div class="list-group list-group-messages">
                        <a href="Javascript:void(0)" class="list-group-item" (click)="showProceso()">
                            <i class="bx bx-star"></i>
                            En proceso
                        </a>

                        <a href="Javascript:void(0)" class="list-group-item" (click)="showFinalizadas()">
                            <i class="bx bx-check-double"></i>
                            Finalizadas 
                        </a>
                    </div>

                   

                   
                </div>
            </div></div></div></div><div class="simplebar-placeholder" style="width: auto; height: 578px;"></div></div><div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar" style="transform: translate3d(0px, 0px, 0px); display: none;"></div></div><div class="simplebar-track simplebar-vertical" style="visibility: hidden;"><div class="simplebar-scrollbar" style="transform: translate3d(0px, 0px, 0px); display: none;"></div></div></div>
        </div>
    </div>

    <div class="content-right" >
        <div class="todo-area">
            <div class="todo-list-wrapper">
                <div class="todo-list">
                    <div class="todo-list-header d-flex align-items-center">
                        <div class="header-left d-flex align-items-center mr-3">
                            <div class="checkbox mr-3"></div>
                        </div>
                        <div class="header-right w-100" style="padding-bottom: 15px;">
                            <h1>LISTADO DE  VISITAS</h1>
                        </div>
                    </div>

                    <ul class="list-wrapper" data-simplebar="init"  *ngIf="element == true">
                        <div class="simplebar-wrapper" style="margin: 0px;">
                            <div class="simplebar-height-auto-observer-wrapper">
                                <div class="simplebar-height-auto-observer"></div>
                            </div>
                            <div class="simplebar-mask">
                                <div class="simplebar-offset" style="right: -17px; bottom: 0px;">
                                    <div class="simplebar-content-wrapper" style="height: 100%; overflow: hidden scroll;">
                                        <div class="simplebar-content" style="padding: 0px;">
                                            <li class="todo-list-item" *ngFor="let item of visitas" id="nuevas">
                                                <div class="todo-item-title">
                                                    <img src="assets\img\logo.png" data-toggle="tooltip" data-placement="top" title="" alt="image" data-original-title="Sarah Taylor">
                                                    <h3>Nombre : {{item.nombre}}</h3>
                                                    <p>{{item.dpi}}</p>
                                                    <p>{{item.personaVista}}</p>
                                                    <p>{{item.empresa}}</p>
                                                    <p>{{item.horaEntrada}}</p>
                                                    <p>{{item.horaSalida}}</p>
                                                    <p>{{item.descripcion}}</p>
                                                </div>

                                                <div class="todo-item-action">
                                                    <a href="#" class="edit"><i class="bx bx-edit-alt"></i></a>
                                                    <a href="#" class="delete"><i class="bx bx-trash"></i></a>
                                                </div>
                                            </li>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="simplebar-placeholder" style="width: auto; height: 949px;">
                            </div>
                        </div>
                        <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
                            <div class="simplebar-scrollbar" style="transform: translate3d(0px, 0px, 0px); display: none;">
                            </div>
                        </div>
                        <div class="simplebar-track simplebar-vertical" style="visibility: visible;">
                            <div class="simplebar-scrollbar" style="height: 492px; transform: translate3d(0px, 192px, 0px); display: block;">
                            </div>
                        </div>
                    </ul>


                    <ul class="list-wrapper" data-simplebar="init"  *ngIf="proceso == true">
                        <div class="simplebar-wrapper" style="margin: 0px;">
                            <div class="simplebar-height-auto-observer-wrapper">
                                <div class="simplebar-height-auto-observer"></div>
                            </div>
                            <div class="simplebar-mask">
                                <div class="simplebar-offset" style="right: -17px; bottom: 0px;">
                                    <div class="simplebar-content-wrapper" style="height: 100%; overflow: hidden scroll;">
                                        <div class="simplebar-content" style="padding: 0px;">
                                            <li class="todo-list-item" *ngFor="let item of visitasProceso" id="nuevas">
                                                <div class="todo-item-title">
                                                    <img src="assets\img\logo.png" data-toggle="tooltip" data-placement="top" title="" alt="image" data-original-title="Sarah Taylor">
                                                    <h3>Nombre : {{item.nombre}} Proceso</h3>
                                                    <p>{{item.dpi}}</p>
                                                    <p>{{item.personaVista}}</p>
                                                    <p>{{item.empresa}}</p>
                                                    <p>{{item.horaEntrada}}</p>
                                                    <p>{{item.horaSalida}}</p>
                                                    <p>{{item.descripcion}}</p>
                                                </div>

                                                <div class="todo-item-action">
                                                    <a href="#" class="edit"><i class="bx bx-edit-alt"></i></a>
                                                    <a href="#" class="delete"><i class="bx bx-trash"></i></a>
                                                </div>
                                            </li>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="simplebar-placeholder" style="width: auto; height: 949px;">
                            </div>
                        </div>
                        <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
                            <div class="simplebar-scrollbar" style="transform: translate3d(0px, 0px, 0px); display: none;">
                            </div>
                        </div>
                        <div class="simplebar-track simplebar-vertical" style="visibility: visible;">
                            <div class="simplebar-scrollbar" style="height: 492px; transform: translate3d(0px, 192px, 0px); display: block;">
                            </div>
                        </div>
                    </ul>

                    <ul class="list-wrapper" data-simplebar="init"  *ngIf="finalizada == true">
                        <div class="simplebar-wrapper" style="margin: 0px;">
                            <div class="simplebar-height-auto-observer-wrapper">
                                <div class="simplebar-height-auto-observer"></div>
                            </div>
                            <div class="simplebar-mask">
                                <div class="simplebar-offset" style="right: -17px; bottom: 0px;">
                                    <div class="simplebar-content-wrapper" style="height: 100%; overflow: hidden scroll;">
                                        <div class="simplebar-content" style="padding: 0px;">
                                            <li class="todo-list-item" *ngFor="let item of visitasFinalizadas" id="nuevas">
                                                <div class="todo-item-title">
                                                    <img src="assets\img\logo.png" data-toggle="tooltip" data-placement="top" title="" alt="image" data-original-title="Sarah Taylor">
                                                    <h3>Nombre : {{item.nombre}} Finalizada</h3>
                                                    <p>{{item.dpi}}</p>
                                                    <p>{{item.personaVista}}</p>
                                                    <p>{{item.empresa}}</p>
                                                    <p>{{item.horaEntrada}}</p>
                                                    <p>{{item.horaSalida}}</p>
                                                    <p>{{item.descripcion}}</p>
                                                </div>

                                                <div class="todo-item-action">
                                                    <a href="#" class="edit"><i class="bx bx-edit-alt"></i></a>
                                                    <a href="#" class="delete"><i class="bx bx-trash"></i></a>
                                                </div>
                                            </li>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="simplebar-placeholder" style="width: auto; height: 949px;">
                            </div>
                        </div>
                        <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
                            <div class="simplebar-scrollbar" style="transform: translate3d(0px, 0px, 0px); display: none;">
                            </div>
                        </div>
                        <div class="simplebar-track simplebar-vertical" style="visibility: visible;">
                            <div class="simplebar-scrollbar" style="height: 492px; transform: translate3d(0px, 192px, 0px); display: block;">
                            </div>
                        </div>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade basicModalLG" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Crear Visitas</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form [formGroup]="miFormulario" (ngSubmit)="enviar()">
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Ingrese el Nombre"
                                formControlName="nombre">
                        </div>
                        <div class="col">
                            <input type="text" minlength="13" class="form-control" placeholder="Ingrese el DPI" formControlName="dpi">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <input type="
                                text" class="form-control" placeholder="Ingrese Persona a quien Visita."
                                formControlName="personaVista">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Empresa" formControlName="empresa">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <input type="time" class="form-control" placeholder="Hora Entrada "
                                formControlName="horaEntrada">
                        </div>
                        <div class="col">
                            <input type="time" class="form-control" placeholder="Hora Salida"
                                formControlName="horaSalida">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <textarea type="text" class="form-control" placeholder="Descripcion"
                                formControlName="descripcion"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary" [disabled]="miFormulario.invalid">Guardar</button>

                </div>
            </form>
        </div>
    </div>
</div>